@using Minecraft_5._0.ViewModels;
@model ItemsListViewModel

@{
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>ListItems</title>
    </head>
    <body>
        <h2>Все предметы</h2>
    @{
        foreach (var item in Model.allItems)
        {
            <div>
                <h2>Название: @item.name</h2>
                <p>Владелец: @item.owner</p>
                <p>Дата: @item.date</p>
                <p>Стоимость: @item.price.ToString()</p>
                <p>Комментарий: @item.comment</p>
            </div>
        }
    }
    </body>
</html>